@model data_validation.net.Web.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


    <div class="form-horizontal container-fluid">

        <h3>Change Password</h3>
        <div class="form-group">
            <div class = "col-sm-3 control-label"></div>
            <div class="col-sm-4">
                @ViewBag.StatusMessage
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-4">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Old password" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-4">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New password" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
            </div>
        </div>

        <input type="submit" class="btn btn-default" value="Change password" />
    </div>
}
